.idea
.terraform
__pycache__/
modules/website/beaconApp/src/environments/environment.ts
modules/website/beaconApp/src/environments/environment.prod.ts
modules/website/beaconApp/src/assets/config.json
