<div id="seqBox" layout="column" >

   <md-card>
     <img id="sBeacon_logo" src="assets/css/images/sBeaconCOVID.png" alt="sBeacon logo">
     <md-card-content>
       <span class="aboutText">
         The <a class="text-primary" href="http://covid19.genomes.in">COVID-19 Beacon</a> is a searchable platform for SARS-CoV-2 genomic variants conforming to the Beacon specifications of the Global Alliance for Genomics and Health but adjusted for viral genome searches. A beacon is a web service providing data generators options for distributing data with appropriate safeguards. 
       </span>
      </md-card-content>
      <md-card-content>
        <span class="aboutText">
          This beacon fills in the gap in resources which can enable searching for genomic variants in the ever-increasing number of SARS-CoV-2 genomes from across the world. At this moment, the beacon features genomic variants from genomes sequenced and deposited from multiple laboratories in India as well as genomes available in the public domain in GenBank, an open-access repository maintained by the NCBI. 
        </span>
       </md-card-content>
       <md-card-content>
         <span class="aboutText">
           The COVID-19 beacon uses the serverless architecture developed by the <a class="text-primary" target="_blank" href="https://bioinformatics.csiro.au/">Transformational Bioinformatics</a> group at CSIRO led by Dr. Denis Bauer. The serverless beacon utilizes a cloud-based architecture paradigm (serverless, or Function-as-a-Service) that allows for seamless scaling/expansion of compute resources. By allowing genomic data to be decentralized, the beacon framework provides an added benefit of fine-control over data privacy and ownership of the individual genomes or genomic datasets contributing to a Beacon. Going forward, the beacon framework offers a unique proposition enabling data sharing across geographical and intellectual property boundaries, while preserving data ownership and data privacy. 
         </span>
        </md-card-content>
        <md-card-content>
          <span class="aboutText">
            The COVID-19 Beacon is a collaborative endeavour between Transformational Bioinformatics group at CSIRO, Australia and <a class="text-primary" target="_blank" href="http://vinodscaria.rnabiology.org/">Vinod Scaria group</a> at the CSIR-IGIB, India. The COVID-19 Beacon would be open to organizations who would like to integrate their datasets of SARS-CoV-2 genomes.
          </span>
         </md-card-content>
         <md-card-content>
           <span class="aboutText">
             The COVID-19 Beacon would be open to organizations who would like to integrate their datasets of SARS-CoV-2 genomes.
           </span>
          </md-card-content>

    </md-card>

</div>
