<div id="seqBox" layout="column" >
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->

  <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Search engine for SARS-CoV-2 mutations </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row">
          <label id="popular">Popular Search: </label>
          <label id="popular">&nbsp;&nbsp; <a class="text-primary" ng-href='#' ng-click = "search('D614G')""> D614G </a></label>
        </div>
      </md-card-content>

      <md-card-content>
        <div layout="row">
          <form name="quick">
            <md-input-container ng-show="sMin == null && sMax == null && eMin == null && eMax == null">
              <!--<label>Query Position REF>ALT</label>-->
              <div data-tip="(Start coordinate position) (REF)>(ALT).">
                <input id="search" placeholder="8782 C>T" ng-model="inputText" ng-required="'true'" ng-keyup="$event.keyCode == 13 && query()"">
              </div>
            </md-input-container>
          </form>
        </div>
        <div ng-show="isVisible">
          <div layout="row">
            <form name="detail">

              <md-input-container>
                <label>Start min</label>
                <div data-tip="for querying imprecise positions (e.g. identifying all structural variants starting anywhere between startMin <-> startMax, and ending anywhere between endMin <-> endMax">
                  <input  ng-model="sMin" ng-required="'true'">
                </div>
              </md-input-container>

              <md-input-container>
                <label>Start Max</label>
                <div data-tip="Maximum start coordinate">
                  <input  ng-model="sMax" ng-required="'true'">
                </div>
              </md-input-container>

              <md-input-container>
                <label>End min</label>
                <div data-tip="Minimum end coordinate">
                  <input  ng-model="eMin" ng-required="'true'">
                </div>
              </md-input-container>

              <md-input-container>
                <label>End Max</label>
                <div data-tip="Maximum end coordinate">
                  <input  ng-model="eMax" ng-required="'true'">
                </div>
              </md-input-container>

              <md-input-container>
                <label>Reference</label>
                <div data-tip="Reference bases for this variant (starting from start).">
                  <input  type="text"  ng-model="ref" ng-required="'true'">
                </div>
              </md-input-container>

              <md-input-container>
                <label>Alternate</label>
                <div data-tip="The bases that appear instead of the reference bases.">
                  <input type="text" ng-model="alt"  ng-required="!VarType">
                </div>
              </md-input-container>

              <md-input-container >
                <label>Variant Type</label>
                <div data-tip="Accepted Values 'INS','DEL'">
                  <md-select id="dropDown" name="type" ng-model="VarType" ng-required="!alt">
                    <md-option value="INS">Insertion</md-option>
                    <md-option value="DEL">Deletion</md-option>
                  </md-select>
                </div>
              </md-input-container>
            </form>
          </div>
        </div>
        <div layout="row">
        <md-button ng-disabled=" quick.$invalid && detail.$invalid " class="md-raised md-primary"  ng-click="query()" >Search</md-button>
        <md-button ng-disabled="false" class="md-raised md-primary" ng-click="ShowHide()">Advanced Parameters</md-button>
        <md-button class="md-raised md-primary" ng-click="refresh()">Reset</md-button>

        </div>

      </md-card-content>
    </md-card>

    <div  ng-show="loading">
           <div class="row justify-content-center spinner-container">
             <div id="spinner"></div>
           </div>
    </div>

  <br></br>
  <md-card >
    <md-card-content ng-show="warning != null">
      <span> {{warning}}</span>
    </md-card-content>
    <md-card-content ng-show="hits != null">
    <!--<form>
    <div class="form-search">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <!--<label>Query Position REF>ALT</label>
        <div data-tip="Quick search in table (case INsensitive)" >
          <input  type="text"  placeholder="Search" ng-model="searchText" >
        </div>
        </div>
      </div>
    </form>-->


      <div class="table-responsive-md">
        <table border="1" class=" table table-striped table-bordered table-hover" id="t01" fixed-header>
            <thead>
                <tr>
                    <th></th>

                    <th>
                    <a href="#" ng-click="sortType = 'info.name'; sortReverse = !sortReverse">
                      Dataset name
                      <span ng-show="sortType == 'info.name' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'info.name' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'info.name'" class="fa fa-sort"></span>
                    </a><span class="tableTooltip">Dataset or clade name</span></th>
                    <th>
                    <a href="#" ng-click="sortType = 'info.description'; sortReverse = !sortReverse">
                      Description
                      <span ng-show="sortType == 'info.description' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'info.description' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'info.description'" class="fa fa-sort"></span>
                    </a></th>
                    <th>
                    <a href="#" ng-click="sortType = 'variantCount'; sortReverse = !sortReverse">
                      Variant count
                      <span ng-show="sortType == 'variantCount' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'variantCount' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'variantCount'" class="fa fa-sort"></span>
                    </a></th>
                    <th>
                    <a href="#" ng-click="sortType = 'callCount'; sortReverse = !sortReverse">
                      Call Count
                      <span ng-show="sortType == 'callCount' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'callCount' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'callCount'" class="fa fa-sort"></span>
                    </a></th>
                    <th ng-show="sMin">
                    <a href="#" ng-click="sortType = 'sampleCount'; sortReverse = !sortReverse">
                      Samples
                      <span ng-show="sortType == 'sampleCount' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'sampleCount' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'sampleCount'" class="fa fa-sort"></span>
                    </a> <span class="tableTooltip">Samples that contain the mutation.</span></th>
                    <th>
                    <a href="#" ng-click="sortType = 'info.datasetSampleCount'; sortReverse = !sortReverse">
                      Total Samples
                      <span ng-show="sortType == 'info.datasetSampleCount' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'info.datasetSampleCount' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'info.datasetSampleCount'" class="fa fa-sort"></span>
                    </a><span class="tableTooltip">Total number of samples in the dataset.</span></th>
                    <th>
                    <a href="#" ng-click="sortType = 'frequency'; sortReverse = !sortReverse">
                      Frequency
                      <span ng-show="sortType == 'frequency' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'frequency' && sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType != 'frequency'" class="fa fa-sort"></span>
                    </a><span class="tableTooltip">Frequency of samples that contain the variant</span></th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="row in hits | orderBy:sortType:sortReverse | filter:searchText"  ng-click="main.activeRow = !main.activeRow" id="sameStrip" ng-init="parentIndex = $index">
                <td>
                  <button ng-if="main.activeRow" >-</button>
                  <button ng-if="!main.activeRow" >+</button>
                </td>
                <td>{{row.info.name}}</td>
                <td>{{row.info.description}}</td>
                <td>{{row.variantCount}}</td>
                <td>{{row.callCount}}</td>
                <td ng-show="sMin">{{row.sampleCount}} </td>
                <td>{{row.info.datasetSampleCount}}</td>
                <td>{{row.frequency}} %</td>
              </tr>
              <tr ng-show="main.activeRow" ng-repeat-end="">

                <td colspan=7>

                  <table border="1" class=" table table-striped table-bordered table-hover" id="t01" fixed-header >
                      <thead>
                          <tr>
                            <th>
                            <a href="#" ng-click="subSortType = 'pos'; subSortReverse = !subSortReverse">
                               Position
                               <span ng-show="subSortType == 'pos' && !subSortReverse" class="fa fa-caret-down"></span>
                               <span ng-show="subSortType == 'pos' && subSortReverse" class="fa fa-caret-up"></span>
                               <span ng-show="subSortType != 'pos'" class="fa fa-sort"></span>
                            </a><span class="tableTooltip">Variants Position</span></th>
                            <th>
                            <a href="#" ng-click="subSortType = 'ref'; subSortReverse = !subSortReverse">
                               REF
                              <span ng-show="subSortType == 'ref' && !subSortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="subSortType == 'ref' && subSortReverse" class="fa fa-caret-up"></span>
                              <span ng-show="subSortType != 'ref'" class="fa fa-sort"></span>
                            </a></th>
                            <th>
                            <a href="#" ng-click="subSortType = 'alt'; subSortReverse = !subSortReverse">
                              ALT
                              <span ng-show="subSortType == 'alt' && !subSortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="subSortType == 'alt' && subSortReverse" class="fa fa-caret-up"></span>
                              <span ng-show="subSortType != 'alt'" class="fa fa-sort"></span>
                            </a></th>
                            <th>
                            <a href="#" ng-click="subSortType = 'SIFT_score'; subSortReverse = !subSortReverse">
                              SIFT score
                              <span ng-show="subSortType == 'SIFT_score' && !subSortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="subSortType == 'SIFT_score' && subSortReverse" class="fa fa-caret-up"></span>
                              <span ng-show="subSortType != 'SIFT_score'" class="fa fa-sort"></span>
                            </a></th>
                            <th>
                            <a href="#" ng-click="subSortType = 'sampleCount'; subSortReverse = !subSortReverse">
                              Samples
                              <span ng-show="subSortType == 'sampleCount' && !subSortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="subSortType == 'sampleCount' && subSortReverse" class="fa fa-caret-up"></span>
                              <span ng-show="subSortType != 'sampleCount'" class="fa fa-sort"></span>
                            </a><span class="tableTooltip">Samples that contain the mutation.</span></th>
                            <th>
                            <a href="#" ng-click="subSortType = 'frequency'; subSortReverse = !subSortReverse">
                              Sample Frequency
                              <span ng-show="subSortType == 'frequency' && !subSortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="subSortType == 'frequency' && subSortReverse" class="fa fa-caret-up"></span>
                              <span ng-show="subSortType != 'frequency'" class="fa fa-sort"></span>
                            </a><span class="tableTooltip">Frequency of samples that contain the variant</span></th>

                          </tr>
                      </thead>
                      <div class="row">
                        <div  class="col-1" id="searchText">
                          <label for="search">Search:</label>
                          <input ng-model="subSearch" id="search" class="form-control" placeholder="Filter table">
                        </div>
                        <div  class="col-2" id="searchNew">
                          <label for="search">Items per page:</label>

                          <input type="number"  class="form-control" ng-model="usersPerPage">
                        </div>
                      </div>

                      <tbody>

                        <tr dir-paginate="var in row.info.variants   | orderBy:subSortType:subSortReverse | filter:subSearch |itemsPerPage:usersPerPage " pagination-id="row.datasetId"  current-page="currentPage" ng-init="childIndex = $index" >

                            <td>{{var.pos}}</td>
                            <td>{{var.ref}}</td>
                            <td>{{var.alt}}</td>
                            <!--<td> <span ng-if="var.PhyoP44wayCoV_score"> {{var.PhyoP44wayCoV_score }} </span> <span ng-if="!var.PhyoP44wayCoV_score"> - </span></td>
                            <td><span ng-if="var.PhastCons44wayCoV_score"> {{var.PhastCons44wayCoV_score }} </span><span ng-if="!var.PhastCons44wayCoV_score"> - </span></td>-->
                            <td><span ng-if="var.SIFT_score"> {{var.SIFT_score }} </span><span ng-if="!var.SIFT_score"> - </span></td>
                            <td>{{var.sampleCount}} </td>
                            <td>{{var.frequency}} %</td>

                        </tr>

                      </tbody>

                  </table>
                  <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="row.datasetId"> </dir-pagination-controls></center>
                  </td>
              </tr>


            </tbody>
          <table>
        </div>

        <section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
          <md-input-container >

            <div data-tip="Change Dataset to update visualisation">
              <md-select id="dropDown2" name="type" ng-model="visualIndex" ng-change="graphDataGenerator(hits,visualIndex);" >
                <md-option ng-repeat="hit in hits" value="{{hit.info.name}}">
                {{hit.info.name}}
                </md-option>
              </md-select>
            </div>
          </md-input-container>
          <md-button class="md-raised md-primary" id="refresh" ng-click="refreshGraph()">Reset</md-button>
          <!--<md-input-container >
            <label>Variant Type</label>
            <div data-tip="Accepted Values 'INS','DEL'">
              <md-select id="dropDown" name="type" ng-model="VarType" ng-required="!alt">
                <md-option value="INS">Insertion</md-option>
                <md-option value="DEL">Deletion</md-option>
              </md-select>
            </div>
          </md-input-container>-->
        </section>

        <div id="choropleth" ></div>
        <div id="histogram"></div>
    </md-card-content>


    </md-card>
</div>
