<div id="wrapper">
	<div  class="wrapper-style1">

   <mat-card class="example-card">
     <img id="sBeacon_logo" src="assets/images/sBeaconCOVID.png" alt="sBeacon logo">
     <mat-card-content>
       <span class="aboutText">
         The <b>COVID-19 Beacon</b> is a searchable platform for SARS-CoV-2 genomic variants conforming to the Beacon specifications of the Global Alliance for Genomics and Health but adjusted for viral genome searches. A beacon is a web service providing data generators options for distributing data with appropriate safeguards. <a href="/login">Login</a> to query COVID beacon or contact CSIRO's Transformational Bioinformatics group to get access.
       </span>
      </mat-card-content>
      <mat-card-content>
        <span class="aboutText">
          This beacon fills in the gap in resources which can enable searching for genomic variants in the ever-increasing number of SARS-CoV-2 genomes from across the world.  
        </span>
       </mat-card-content>
       <mat-card-content>
         <span class="aboutText">
           The COVID-19 beacon uses the serverless architecture developed by the <a class="text-primary" target="_blank" href="https://bioinformatics.csiro.au/">Transformational Bioinformatics</a> group at CSIRO led by Dr. Denis Bauer. The serverless beacon utilizes a cloud-based architecture paradigm (serverless, or Function-as-a-Service) that allows for seamless scaling/expansion of compute resources. By allowing genomic data to be decentralized, the beacon framework provides an added benefit of fine-control over data privacy and ownership of the individual genomes or genomic datasets contributing to a Beacon. Going forward, the beacon framework offers a unique proposition enabling data sharing across geographical and intellectual property boundaries, while preserving data ownership and data privacy. 
         </span>
        </mat-card-content>
         <mat-card-content>
           <span class="aboutText">
             The COVID-19 Beacon would be open to organizations who would like to integrate their datasets of SARS-CoV-2 genomes.
           </span>
          </mat-card-content>

    </mat-card>

  </div>
</div>
